<div class="flex flex-col min-h-screen">
  <!-- Header -->
  <header class="p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold text-white">Mon App</h1>
    <button class="md:hidden" (click)="toggleSidebar()">
      <!-- Hamburger Icon -->
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </header>

  <div class="flex flex-1">
    <!-- Sidebar -->
    <aside
      class=" bg-dark w-64 p-4 border-r hidden md:block"
      [class.block]="isSidebarOpen"
    >
      <nav class="space-y-2">
        <a href="#" class="block px-3 py-2 rounded hover:bg-sky-100">Accueil</a>
        <a href="#" class="block px-3 py-2 rounded hover:bg-sky-100"
          >Dashboard</a
        >
        <a href="#" class="block px-3 py-2 rounded hover:bg-sky-100"
          >Paramètres</a
        >
      </nav>
    </aside>

    <!-- Main -->
    <main class="flex-1 p-6 bg-white dark:bg-black"   >
      <p class="text-3xl pb-2 text-primary">Bienvenue</p>
      <button class="bg-primary"> reeec</button>
      <div
        class="flex items-center gap-4 rounded-lg bg-white p-6 shadow-md outline outline-black/5 dark:bg-gray-800"
      >
        <span
          class="inline-flex shrink-0 rounded-full border border-pink-300 bg-pink-100 p-2 dark:border-pink-300/10 dark:bg-pink-400/10"
        >
          <svg class="size-6 stroke-pink-700 dark:stroke-pink-500">
            <!-- ... -->
          </svg>
        </span>
        <div>
          <p class="text-gray-700 dark:text-gray-400">
            <span class="font-medium text-gray-950 dark:text-white"
              >Tom Watson</span
            >
            mentioned you in
            <span class="font-medium text-gray-950 dark:text-white"
              >Logo redesign</span
            >
          </p>
          <time class="mt-1 block text-gray-500" datetime="9:37">9:37am</time>
        </div>
      </div>
      <div class="flex gap-x-4 p-4 justify-center">
        <div class="bg-sky-50" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-100" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-200" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-300" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-400" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-500" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-600" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-700" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-800" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-900" style="height: 20px; width: 20px"></div>
        <div class="bg-sky-950" style="height: 20px; width: 20px"></div>
      </div>

      <button class="bg-primary hover:bg-primary-light text-white font-semibold py-2 px-4 rounded">
        Se connecter
      </button>
      <div class="card flex justify-center">
        <p-timeline [value]="events">
            <ng-template #content let-event>
                {{ event.status }}
            </ng-template>
        </p-timeline>
        <p-button label="Check" />
      </div>
      <div class="card flex justify-center p-4">
        <p-cascadeselect  [options]="countries" optionLabel="cname" optionGroupLabel="name" [optionGroupChildren]="['states', 'cities']" [style]="{ minWidth: '14rem' }" placeholder="Select a City" />
    </div>
    </main>
  </div>

  <!-- Footer -->
  <footer class="bg-gray-200 text-center p-4 text-sm">© 2025 Mon App</footer>
</div>

<router-outlet></router-outlet>
